<div class="widget_item">
	<%= label_tag 'login' %>
	<%= text_field_tag 'login', @login %>
</div>
<div class="widget_item">
	<%= label_tag 'password' %>
	<%= password_field_tag 'password', nil %>
</div>
<div class="widget_item">
	<%= label_tag 'remember_me', 'Remember me' %>
	<%= check_box_tag 'remember_me', '1', @remember_me %>
</div>
<div class="widget_item">
	<%= submit_tag 'Login' %>
</div>