<h1>Listing presentations</h1>

<table>
  <tr>
    <th>String</th>
    <th>String</th>
    <th>References</th>
  </tr>

<% @presentations.each do |presentation| %>
  <tr>
    <td><%=h presentation.string %></td>
    <td><%=h presentation.string %></td>
    <td><%=h presentation.references %></td>
    <td><%= link_to 'Show', presentation %></td>
    <td><%= link_to 'Edit', edit_presentation_path(presentation) %></td>
    <td><%= link_to 'Destroy', presentation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New presentation', new_presentation_path %>