<p>
  <b>String:</b>
  <%=h @presentation.string %>
</p>

<p>
  <b>String:</b>
  <%=h @presentation.string %>
</p>

<p>
  <b>References:</b>
  <%=h @presentation.references %>
</p>


<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>