<p>
  <b>User:</b>
  <%=h @event.user %>
</p>

<p>
  <b>Lead:</b>
  <%=h @event.lead %>
</p>

<p>
  <b>Action:</b>
  <%=h @event.action %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>