<div id="disposiion-widget" class="widget">
	<% 
		form_remote_tag(
			:url => user_lead_disposition_index_url(current_user, @lead),
			# {
			# 	:action => 'disposition',
			# 	:user_id => current_user,
			# 	:lead_id => @lead
			# },
			:html => {
				:method => :post
			},
			:success => "$('#history').updateHistoryFromModal(request)",
			:failure => "$('#errors').showErrorsFromModal(request)"
		) do |f|
	-%>
		<div class="widget_item">
			<%= label_tag :disposition %>
			<%= select_tag :disposition, options_for_select(@disposition_options) %>
		</div>
		<div class="widget_item">
			<%= label_tag :comment %>
			<%= text_area_tag :comment %>
		</div>
		<div class="widget_item">
			<%= submit_tag 'Save' %>
		</div>
	<% end %>
</div>