<p id="salutation" class="meta">
	<%= @to %>:
</p>
<p id="thanks" class="body">
	Thank you for scheduling an in-person meeting with one of our Subject Matter Experts.  We feel strongly
	about and are committed to the idea that we can help your business grow and prosper, just as we have 
	for countless others.
</p>
<p id="intro" class="body">
	The Subject Matter Expert that you will be meeting with is <%= @expert[:name] %>.  
	<%= (@expert[:gender] == :male) ? 'H' : 'Sh' %>e is a dedicated professional with many years of experience
	practicing and consulting on <%= @regarding %>, with an extensive set of credentials, including 
	<%= expert[:credentials] %>.  H<%= (@expert[:gender] == :male ? 'is' : 'er') %> contact info is below:
</p>
<p id="contact" class="body">
	<%= @expert[:name] %><br/>
	<%= @expert[:phone] %><br/>
	<%= @expert[:email] %>
</p>
<p id="appointment" class="body">
	The appointment for this meeting has been arranged to be at <%= @appointment[:location] %>, on 
	<%= @appointment.date %> at <%= @appointment.time %>.  If there are any questions or concerns, or a 
	change in arrangements is required, please do not hesitate to call us at 214-361-0080.  Thank you.
</p>
<p id="closing" class="meta">
	Sincerely,
</p>
<p id="signature" class="meta">
	<%= @from %>
</p>