/ #lead.primary
/   #contact
/     #contact_name.h1 #{@lead.honorific} #{@lead.full_name}, #{@lead.title}
/   #company
/     #company_name.h2=@lead.company
/     #location
/       #city_state #{@lead.city}, #{@lead.state} (#{timezone_mapping(@lead.timezone)})
/       #msa= "(#{@lead.msa.strip})" if @lead.msa
/     #sic_info.addl_info
/       .section_title SIC Information
/       .section_data
/         -(1..5).each do |i|
/           -if @lead.send("sic_code_#{i}")
/             .sic{ :id => "sic_#{i}" }
/               %span.sic_code=@lead.send("sic_code_#{i}")
/               %span.sic_desc=@lead.send("sic_description_#{i}")
/     #misc_info.addl_info
/       .section_title Misc. Information
/       .section_data
/         -{ 'Year Established' => :year_established, 'Number of PCs' => :number_of_pcs, 'Emp Code' => :employee_code, 'Sales Code' => :sales_code, 'Credit Rating' => :credit_rating }.each do |field, attrib|
/           -if @lead.send(attrib)
/             .misc_item
/               %span.field=field
/               %span.value=@lead.send(attrib)
/ #history.secondary
/   .title Lead History
/   -@lead.events.each do |e|
/     =render :partial => 'events/listing_item', :locals => { :event => e }
/ 
/ -content_for :sidebar do
/   #actions.menu
/     .title Actions
/     %ul.menu