<h1>Listing events</h1>

<table>
  <tr>
    <th>User</th>
    <th>Lead</th>
    <th>Action</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.user %></td>
    <td><%=h event.lead %></td>
    <td><%=h event.action %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>