=javascript_include_tag 'jquery.yaripe'
#lead.primary
  #contact
    .name.h1
      =edit_in_place(@lead, :honorific, :url => lead_path(@lead))
      =edit_in_place(@lead, :first_name, :url => lead_path(@lead))
      -if @lead.salutation != @lead.first_name
        "#{edit_in_place(@lead, :salutation, :url => lead_path(@lead))}"
      =edit_in_place(@lead, :last_name, :url => lead_path(@lead))
    .phone.h1
      / %span.yaripe{ :rel => lead_path(@lead), :attribute => :formatted_phone }=number_to_phone(@lead.phone)
      =edit_in_place(@lead, :formatted_phone, :url => lead_path(@lead))
      -if not @lead.extension.blank?
        'x'#{edit_in_place(@lead, :extension, :url => lead_path(@lead))}
    .title.h2=edit_in_place(@lead, :title, :url => lead_path(@lead))
  #company
    .name.h2=@lead.company
    #location
      #city_state #{@lead.city}, #{@lead.state} (#{timezone_mapping(@lead.timezone)})
      / #msa= "(#{@lead.msa.strip})" if @lead.msa
      %div &nbsp;
    #sic_info.addl_info
      .section_title SIC Information
      .section_data
        -(1..5).each do |i|
          -if @lead.send("sic_code_#{i}")
            .sic{ :id => "sic_#{i}" }
              %span.sic_code=@lead.send("sic_code_#{i}")
              %span.sic_desc=@lead.send("sic_description_#{i}")
    #misc_info.addl_info
      .section_title Misc. Information
      .section_data
        -{ 'Year Established' => :year_established, 'Number of PCs' => :number_of_pcs, 'Headcount' => :employee_category, 'Sales' => :sales_category, 'Credit Rating' => :credit_rating }.each do |field, attrib|
          -if @lead.send(attrib)
            .misc_item
              %span.field=field
              %span.value=@lead.send(attrib)
#history.secondary
  .title Lead History
  #events
    -@lead.events.sort{ |fmr,ltr| ltr.created_at <=> fmr.created_at }.each do |e|
      =render :partial => 'events/listing_item', :locals => { :event => e }
/ =periodically_call_remote(:url => lead_events_url(@lead), :method => :get, :update => 'events', :frequency => 10)

-content_for :sidebar do
  #actions.menu
    .title Actions
    %ul.menu
      / %li=link_to_remote content_tag(:span, 'Disposition'), new_lead_disposition_url(@lead, :format => :json), :complete => 
      %li=link_to content_tag(:span, 'Disposition'), new_lead_disposition_url(@lead, :height => 200, :width => 400), :class => 'thickbox'
      / %li=link_to_if @touchpoint.next, content_tag(:span, 'Next'), user_call_queue_touchpoint_url(current_user, @queue, @touchpoint.next)
      %li=link_to_if [:assigned, :queued].include?(@lead.status), content_tag(:span, 'BCR'), new_lead_presentation_url(@lead, :height => 200, :width => 400), :class => 'thickbox'
      / %li=link_to_if [:scheduled].include?(@lead.status), content_tag(:span, 'Book'), new_lead_appointment_url(@lead, :height => 600, :width => 500), :class => 'thickbox'

      / %li=link_to content_tag(:span, 'Suspend'), new_lead_suspend_url(@lead, :height => 200, :width => 300), :class => 'thickbox'
      %li=link_to content_tag(:span, 'Comment'), new_lead_comment_url(@lead, :height => 400, :width => 400), :class => 'thickbox'
  #help.menu
    .title Help
    %ul.menu
      %li=link_to 'Sales Aides', sales_aides_url(:height => 300, :width => 300), :class => 'thickbox'
      %li=link_to 'Documentation', documentation_url(:height => 300, :width => 300), :class => 'thickbox'
      %li=link_to 'Users Guide', users_guide_url(:height => 300, :width => 300), :class => 'thickbox'