=javascript_include_tag 'jquery.yaripe'
#lead.primary
  #demographics
    =render :partial => 'leads/demographics', :locals => { :lead => @lead }
  #company
    .name.h2=@lead.company
    #location
      #city_state #{@lead.city}, #{@lead.state} (#{timezone_mapping(@lead.timezone)})
      / #msa= "(#{@lead.msa.strip})" if @lead.msa
      %div &nbsp;
    #sic_info.addl_info
      .section_title SIC Information
      .section_data
        -(1..5).each do |i|
          -if @lead.send("sic_code_#{i}")
            .sic{ :id => "sic_#{i}" }
              %span.sic_code=@lead.send("sic_code_#{i}")
              %span.sic_desc=@lead.send("sic_description_#{i}")
    #misc_info.addl_info
      .section_title Misc. Information
      .section_data
        -{ 'Year Established' => :year_established, 'Number of PCs' => :number_of_pcs, 'Headcount' => :employee_category, 'Sales' => :sales_category, 'Credit Rating' => :credit_rating }.each do |field, attrib|
          -if @lead.send(attrib)
            .misc_item
              %span.field=field
              %span.value=@lead.send(attrib)
#history.secondary
  .title Lead History
  #events
    -@lead.events.sort{ |fmr,ltr| ltr.created_at <=> fmr.created_at }.each do |e|
      =render :partial => 'events/listing_item', :locals => { :event => e }
/ =periodically_call_remote(:url => lead_events_url(@lead), :method => :get, :update => 'events', :frequency => 10)

-content_for :sidebar do
  #actions.menu
    .title Actions
    %ul.menu
      %li=link_to content_tag(:span, 'Disposition'), new_lead_disposition_url(@lead, :height => 300, :width => 500), :class => 'thickbox'
      %li=link_to_if [:assigned, :queued].include?(@lead.status), content_tag(:span, 'BCR'), new_lead_presentation_url(@lead, :height => 200, :width => 400), :class => 'thickbox'
      %li=link_to content_tag(:span, 'Comment'), new_lead_comment_url(@lead, :height => 400, :width => 400), :class => 'thickbox'
  #help.menu
    .title Help
    %ul.menu
      %li=link_to 'Sales Aides', sales_aides_url(:height => 300, :width => 300), :class => 'thickbox'
      %li=link_to 'Documentation', documentation_url(:height => 300, :width => 300), :class => 'thickbox'
      %li=link_to 'Users Guide', users_guide_url(:height => 300, :width => 300), :class => 'thickbox'