<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title>Pursuit :: <%= controller_name.titleize %></title>
		<%= stylesheet_link_tag 'master' %>
		<%= stylesheet_action_link_tag %>
		<%= javascript_include_tag 'jquery' %>
		<%= javascript_include_tag 'jquery-ui' %>
		<%= javascript_include_tag 'jrails' %>
		<%= javascript_include_tag 'thickbox' %>
		<%= javascript_include_tag 'application' %>
		<%= javascript_action_include_tag %>
	</head>
	<body>
		<div id="hd">
			<div id="branding">
				<div id="company">Trigon Solutions</div>
				<div id="application">Pursuit</div>
			</div>
			<div id="identity">
				<% if logged_in? %>
					<span class="info">Logged in as:</span><br/>
					<span class="info"><%= current_user.name %></span><br/>
					<span class="act"><%= link_to 'Logout', logout_url %></span>
				<% end %>
			</div>
		</div>
		<div id="bd">
			<div id="nav">
				<div id="navbar">
					<% if logged_in? %>
					<ul>
						<li><%= link_to 'Dashboard', user_dashboard_url(current_user) %></li>
						<li><%= link_to 'Call Queues', user_call_queues_url(current_user) %></li>
						<li><%= link_to 'Reports', user_reports_url(current_user) %></li>
					</ul>
					<% end %>
				</div>	
			</div>
			<div id="flash">
				<div id="errors" class="error"><%= flash[:errors] %></div>
				<div id="status"><%= flash[:notice] %></div>
			</div>
			<div id="content">
				<%= yield %>
			</div>
		</div>
		<div id="ft">
			<div id="copy">
				&copy; 2009 Trigon Solutions, Inc.
			</div>
		</div>
	</body>
</html>
